<div class = "row">
	<div class = "medium-10 medium-centered columns large-8">
		<h2>dog.name</h2>
		<!-- filler -->
			<p> Territory: <%= dog.area %> square meters </p>
			<p> Distance Traveled: <%= dog.distance_traveled %> miles</p>
			<p> Score: <%= dog.distance_score %>pts </p>
		<!-- filler -->
	</div>
</div>