<div class = "row">
  <div class = "small-centered columns ">
    <a class='button small expand radius small-12 ' href="#"><%= dog.name %> - <%= dog.distance_traveled %> miles - <%= dog.distance_score %> pts </a>
  </div>
</div>
