<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <h1><%= @dog.name %></h1>
    <%= image_tag @dog.avatar.url(:medium) %>
  </div>
</div>


<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <div>
      <%= @dog.name %>'s birthday <%= @dog.birthday.strftime("%B %d, %Y") %>
    </div>
  </div>
</div>