<div class = "row">
	<div class = "medium-10 medium-centered columns large-8">
		<h2>user</h2>
		<!-- filler -->
			<p> Territory: <%= user.area %> square meters </p>
			<p> Distance Traveled: <%= user.distance_traveled %> miles</p>
			<p> Score: <%= user.distance_score %>pts </p>
		<!-- filler -->
	</div>
</div>