<div class = "row">
	<div class = " small-centered columns ">
		<a class='button small expand radius small-12 primary' href="<%= user_path(user) %>"><%= user.username %> - <%= user.distance_traveled %> miles - <%= user.distance_score %> pts </a>
	</div>
</div>
