<h1> <%= @user.username %> </h1>

<%= image_tag @user.avatar.url %>

<% @user.dogs.each do |dog| %>
	<a href="dogs/<%= dog.id %>"><%= dog.name %></a>
<% end %>

<a onclick="startWalk()" class="button" >Take a walk</a>