<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <p>Hi! Glad you have have joined us. Please add a dog!</p>

    <p><%= link_to "Add to Pack", new_user_dog_path(@user) %></p>
  </div>
</div>
