<form action = "/dashboard" method = "get">
  <div class='row'>
    <div class='small-6 small-centered columns'>
      <input class = "button small expand radius primary" type = "submit" value = "Done!"></input>
    </div>
  </div>
</form>
