<form action = "/logout" method = "get">
  <div class='row'>
    <div class='small-10 small-centered columns'>
      <input class = "button small expand radius alert" type = "submit" value = "Logout"></input>
    </div>
  </div>
</form>
