<% if @errors %>
    <div data-alert class='alert-box alert radius' >
      <% @errors.each do |error| %>
        <%= error %>
      <% end %>
      <a href="#" class="close">&times;</a>
    </div>
  <% elsif flash[:message] %>
    <div data-alert class='alert-box warning radius' >
      <%= flash[:message] %><a href="#" class="close">&times;</a>
    </div>
<% end %>
