<ul class="dropdown">
  <li><%= link_to "Profile", user_path(current_user) %> </li>
  <li><a id="recent-walks-btn" href="/walks">Recent Walks</a></li>
  <li><a href="#">Neighbors</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Log Out</a></li>

  <li class="active"><a href="#">Active link in dropdown</a></li>
</ul>


