<%= render "shared/walk_button" %>

<li class=""><%= link_to "Profile", user_path(current_user) %> </li>
<li><a href="#">Recent Walks</a></li>
<li><a href="#">Neighbors</a></li>
<li><%= link_to "Log Out", logout_path %></li>




