<%= render "shared/walk_button" %>

<li class=""><%= link_to "Profile", user_path(current_user) %> </li>
<li><a href="/walks">Recent Walks</a></li>
<li><a href="#" id="show-local-area">Neighbors</a></li>
<li><%= link_to "Log Out", logout_path %></li>




