<% if session[:walk_id] %>
  <li class="active" ><a id="continue-walk-button" href="<%= walk_path(session[:walk_id]) %>"> Walking</a></li>
<% else %>
  <li class="active"><a id="new-walk-button" href="/walks/new">Take a walk</a></li>
<% end %>

