
<div class='rows'>
  <div class="small-10 columns small-centered">
    <%= link_to "Log In", login_path, class: "button columns small-6 " %>
    <%= link_to "Sign Up", new_user_path, class: "button columns small-6" %>
  </div>
</div>

<div id='status'>
  <div class = "row">
    <div class = "medium-10 medium-centered columns large-8">
      <p>Welcome to Terriertory! Go on walks with your dog and claim territory by making marks in your neighborhood. </p>
    </div>
  </div>
  <img src = "/assets/terriertory_maps_example.png">
</div>










