
<div class='row'>
  <img src = "/assets/terriertory_maps_example.png">
</div>


  <div id="stats" data-alert class='alert-box primary success centered radius' >
    Welcome to Terriertory! Join your dog in the competition to mark territory in your neighborhood.
  </div>


<div class='row'>
  <div class="small-10 columns small-centered">
    <%= link_to "Log In", login_path, class: "button radius columns small-6 " %>
    <%= link_to "Sign Up", new_user_path, class: "button radius columns small-6" %>
  </div>
</div>

<div class='row' style="position:fixed; top:15em" >
  <img src = "/assets/terriertory-big-sign.png">
</div>










