<div id='status'>
	<h1>Welcome!</h1>
</div>

<div class='rows'>
  <div class="small-10 columns small-centered">
    <%= link_to "Log In", login_path, class: "button columns small-6 " %>
    <%= link_to "Sign Up", new_user_path, class: "button columns small-6" %>
  </div>
</div>



<div>
	<p>Social Dog Walking is... </p>
</div>


