<div id='status'>
	<p>Welcome to Terriertory! Terriertory allows you to compete with you neighbors in dog-walking. Walk greater distances to claim more points. Build territory by exploring your neighborhood. Terrietory aims to connect you and your dog-walking neighbors. Terrietory aims to connect you and your dog as you go on adventures together.</p>

  <img src = "/assets/terriertory_maps_example.png">
</div>




