<div id='status'>
  <div class = "row">
    <div class = "medium-10 medium-centered columns large-8">
      <p>Welcome to Terriertory! Go on walks with your dog and claim territory by making marks in your neighborhood. </p>
    </div>
  </div>
  <img src = "/assets/terriertory_maps_example.png">
</div>





<div class = "row">
  <div class = "medium-10 medium-centered columns large-8">
    <%= button_to 'login' %>
  </div>
  <div class = "medium-10 medium-centered columns large-8">
    <%= button_to 'register' %>
  </div>
</div>










