<h1 data-walk-id= "<%= @walk.id %>"> The walk is in progress </h1>

<%= button_to "Mark", walk_marks_path(:walk_id => @walk.id), action: "post", form_class: "mark" %>

<%= button_to "End Walk", walk_marks_path(:walk_id => @walk.id, :end =>"true"), action: "post", form_class: "end_walk" %>
