<div class='row' id='walk-buttons'>
  <div class="button-bar small-centered column">
    <ul class="button-group">

      <li>
        <form action = "/walks/<%= @walk.id %>/end_walk" method = "post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type = "submit" class = "button" value = "End Walk">
        </form>
      </li>
      <li><a href="/walks/<%= @walk.id %>/marks" class="button" id='mark-button' onClick="markWalk(event)"> "Mark."</a> </li>
    </ul>
  </div>
</div>
