<div class="show" id="show" data-controller-name="<%= controller_name %>"></div>
<!-- -->

  <div id='square-map'>
    <%= render "shared/map" %>
  </div>

<form action = "/logout" method = "get">
  <div class='row'>
    <div class='small-6 small-centered columns'>
      <input class = "button small expand radius alert" type = "submit" value = "Logout"></input>
    </div>
  </div>
</form>

