<div class="show" id="show" data-controller-name="<%= controller_name %>"></div>
<!-- -->

  <div id='square-map'>
    <%= render "shared/map" %>
  </div>

  <div data-alert class='alert-box success radius' >
      <% if @walk.distance_traveled > 0.1 %>
        You walked <%= @walk.distance_traveled %> miles!
      <% else %>
        You didn't walk very far at all.
      <% end %>
  </div>

<%= render "shared/done_button" %>
