<div id='new-walk-form'>
<h1>Choose Dogs</h2>
  <%= form_for @walk, html: {id: "new_walk_form"} do |f| %>
    <% if current_user.dogs.any? %>
      <% current_user.dogs.each do |dog| %>
      <label><input type='checkbox' name='walk[:dog_id]' value='<%=dog.id%>' checked ><%= dog.name %></label>
      <% end %>
    <% end %>

  <% end %>
</div>





