<div id = "stats">
  <div class = "row">
   Walk <%= params[:id] %>
  </div>
</div>


  <%= render "shared/map" %>
  <% if session[:walk_id] == params[:id].to_i %>
    <%= render "buttons" %>
  <% end %>
