<% unless @walk.complete? %>
  <h1> The walk is in progress </h1>
  <div class='row'>
    <div id='map-canvas'></div>
  </div>
  <div class='row'>
    <div class='button-bar'>
      <ul class='button-group'>
        <li><%= link_to "End", walk_marks_path(:walk_id => @walk.id), action: "post", class: "button" %></li>
        <li><%= link_to "Mark", walk_marks_path(:walk_id => @walk.id), action: "post", class: "button" %></li>
      </ul>
    </div>
  </div>
<% end %>
