<% unless @walk.complete? %>
  <h1> The walk is in progress </h1>
  <div class='row'>
    <div id='map-canvas'></div>
  </div>
  <div class='row'>
    <div class='button-bar'>
      <ul class='button-group'>
        <li><%= button_to "End", walk_marks_path(:walk_id => @walk.id), action: "post", class: "button", form_class: 'end' %></li>
        <li><%= button_to "Mark", walk_marks_path(:walk_id => @walk.id), action: "post", class: "button", form_class: 'mark' %></li>
      </ul>
    </div>
  </div>
<% end %>




<%= button_to "End walk!", walk_marks_path(:walk_id => @walk.id, :end =>"true"), action: "post", form_class: "end_walk" %>