<div id = "stats" data-walk-mark-count="<%= @walk.marks.count %>">
  <div class = "row">
    Current walk_id
    <%= session[:walk_id] %>
  </div>
</div>


  <%= render "shared/map" %>
  <%= render "buttons" %>


