	<%= render "walk_in_progress_stats" %>
<!-- maybe a div class of mobile-only would tell the page to redirect if user is not mobile? -->
<div class='mobile-only mobile-map etc'> 
  <%= render "shared/map" %>
d</div>	
  <%= render "buttons" %>


