// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 375px;
  width: 375px;
  margin: 0px;
  padding: 0px
  }
